.profile-photo {
  display: block;

  padding: 7vh 0 24px;

  text-align: center;

  .profile-photo-frame {
    display: inline-block;
    overflow: hidden;

    width: 42vh;
    height: 100%;

    max-width: 50%;

    border: 1.4vh solid rgba(0, 0, 0, 0.063);
    border-radius: 50%;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 7px 42px -14px rgba(0, 0, 0, 0.28);

    @media (min-width: 960px) {
      max-width: 33%;

      margin: 1vh 0 0.5vh;
    }

    @media (min-width: 1440px) {
      max-width: 25%;

      margin: 3vh 0 1vh;
    }

    @media (max-width: 720px) {
      max-width: 56%;
    }

    @media (max-width: 480px) {
      max-width: 75%;
    }
  }
}
