.title {
  display: block;

  margin: 0;
  padding: 24px 0;

  font-size: 2em;
  text-align: center;

  color: rgba(0, 0, 0, 0.63);

  .first-name {
    color: rgba(0, 0, 0, 1);
  }

  abbr {
    text-decoration: none;
  }
}

.subtitle {
  display: block;

  font-size: 0.96em;
  font-weight: 100;
  text-align: center;

  color: rgba(0, 0, 0, 0.63);
}
